

<header>
     <h1 class="title">{{title}}</h1>  
     <nav>
         <ul class="nav-links">
             <li><a href="#">Add</a></li>
             <li><a href="#">View</a></li>
         </ul>
     </nav> 
    
    
</header>